/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Navigation Bar */
nav {
    background-color: #970a0a;
    padding: 25px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* Main Content */
.content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.content h1 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

/* Flex Container */
.flex-container {
    display: grid;
    grid-template-columns: auto;
    flex-wrap: wrap;
    gap: 20px;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: auto ;
    gap: 20px;
}

/* Images */
.content img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}


